<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     classpath:/org/springframework/beans/factory/xml/spring-beans-2.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
> 

	<bean id="HelloWorldSpring" class="spring.HelloWorldSpring"
		autowire="byName">
		<property name="sayContent"  value="Thanks"/>
	</bean>
	<bean id="DIShow" class="spring.DIShow" autowire="byName">
		<property name="helloWorldSpring" ref="HelloWorldSpring" />
	</bean>
</beans>